examples/simple-spc.json
[
    {
        "id": "65fad5224db2f8b7",
        "type": "tab",
        "label": "Simple SPC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "18abcda1a6df6791",
        "type": "modbus-read",
        "z": "65fad5224db2f8b7",
        "name": "SDM 120 Voltage",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b69d19ed.84d768",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "f638075db1e75788"
            ],
            []
        ]
    },
    {
        "id": "f638075db1e75788",
        "type": "energy-meter",
        "z": "65fad5224db2f8b7",
        "name": "",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "95f30ee7a34df4d1"
            ]
        ]
    },
    {
        "id": "95f30ee7a34df4d1",
        "type": "spc",
        "z": "65fad5224db2f8b7",
        "name": "Simple SPC",
        "limitMultiplier": "2.66",
        "x": 550,
        "y": 160,
        "wires": [
            [
                "eacfcf16bfcd6845"
            ]
        ]
    },
    {
        "id": "eacfcf16bfcd6845",
        "type": "debug",
        "z": "65fad5224db2f8b7",
        "name": "debug 183",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "8f1e7e82159e0b3b",
        "type": "comment",
        "z": "65fad5224db2f8b7",
        "name": "Simple SPC application",
        "info": "This sample application takes input from modbus node, in this case it is energy meter and the energy meter node processes the data which is provided as input to Simple SPC node\n\n",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "b69d19ed.84d768",
        "type": "modbus-client",
        "name": "Serial_2400_8_N_1",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "10.10.100.254",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": "1",
        "commandDelay": "30",
        "clientTimeout": "2000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "5000",
        "parallelUnitIdsAllowed": false
    }
]